html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #f5f5f5;
}

.card-body {
    padding: 1rem 1.25rem;
}

.form-control {
    height: calc(1.25em + .75rem + 2px);
    margin-bottom: 0.5rem;
}

.msg {
    font-weight: 500;
}

.ng-touched.ng-invalid, .ng-dirty.ng-invalid {
    border-color: rgb(255, 0, 0);
    &:focus {
        box-shadow: 0 0 0 .2rem rgba(255, 0, 0, .25);
    }
}

.ng-touched.ng-valid, .ng-dirty.ng-valid {
    border-color: rgb(40, 167, 69);
    &:focus {
        box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .25);
    }
}